body {
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    background-image: url(.assets/background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(24, 26, 33);
    padding: 25px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 65px;
    /* Adjust size as needed */
    border-radius: 50%;
    margin-right: 10px;
}

.brand-name {
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.nav-links {
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #dcdedf;
    font-size: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-color: rgb(24, 26, 33);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    /* Changed text color to white */
    text-align: left;
    /* Changed text alignment to left */
}

.login-form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"]
{
    width: calc(100% - 12px);
    padding: 8px;
    color: #fff;
    border: 1px solid #32353c;
    /* Changed border color */
    border-radius: 4px;
    background-color: #32353c;
    /* Changed background color */
    color: #fff;
    /* Changed text color */
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.forgot-password {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.forgot-password:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(24, 26, 33);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0%;
    width:100%;

}

.bottom-bar {
    margin-bottom: 10px;
}

.create-account-btn {
    background-color: #007bff;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 7px 5px;
    border-radius: 4px;
    cursor: pointer;
}

.create-account-btn:hover {
    background-color: #0056b3;
}

.copyright {
    font-size: 14px;
}